<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1713800813-tt0dqh9plruaimj8mr9qdatg7kor8nlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1713800813-tt0dqh9plruaimj8mr9qdatg7kor8nlj</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Nrbz0BddE_S2Djh0WMBNeYDJWAxgHkE</string>
	<key>GCM_SENDER_ID</key>
	<string>1713800813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oneToTenGame</string>
	<key>PROJECT_ID</key>
	<string>one-to-ten-game</string>
	<key>STORAGE_BUCKET</key>
	<string>one-to-ten-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1713800813:ios:428659397b0f661190a164</string>
</dict>
</plist>